node_modules
dist
*.log
*.yaml
# Allow package.json, package-lock.json and tsconfig.json
!package.json
!package-lock.json
!tsconfig.json
# Allow package.yaml for Crossplane Function
!package.yaml
# Allow proto directory for gRPC definitions
!proto/